* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#logo {
  position: absolute;
  z-index: 100;
  top: 10px;
  width: 70px;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.descend {
  padding-top: 30%;
}

.closeQrcode {
  background-color: black;
  color: white;
  border: none;
  margin-top: 30px;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.2rem;
}

#captureButton {
  display: none;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}
.mascotte-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}
.mascotte-body {
  display: flex;
  justify-content: center;
}
.mascotte {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}
.choice {
  position: absolute;
  width: 65%;
}
#background {
  z-index: 0;
  width: 95%;
  border-radius: 20px;
}
#body {
  z-index: 1;
}
#eyes {
  z-index: 2;
}
#hat {
  z-index: 3;
}
#accessories {
  z-index: 4;
}
.grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 20px;
  gap: 20px;
}
.grille-sec {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #eef1f4;
}

.mascotte-gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  width: 100%;
  aspect-ratio: 1/1;
}

.mascotte-gallery img {
  position: absolute;
  max-height: 100%;
  border-radius: 17px;
}

.popUpQrcode {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.qrcodeIcon {
  width: 25%;
}
.contentQRcode {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1025px) {
  .mascotte-body #body {
    z-index: 1;
    top: 60px;
  }
  .mascotte-body #eyes {
    z-index: 2;
    top: 60px;
  }
  .mascotte-body #hat {
    z-index: 3;
    top: 60px;
  }
  .mascotte-body #accessories {
    top: 60px;
    z-index: 4;
  }
}

.accueilQrBtn,
#captureButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
  padding: 10px;
  gap: 5px;
  position: absolute;
  background-color: black;
  color: white;
  border: none;
  top: 20px;
  right: 20px;
  width: 100px;
  min-height: 30px;
  height: auto;
  border-radius: 20px;
}

.accueil {
  left: 20px;
}

.eyeIcon {
  width: 85%;
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 550px;
  }
  #logo {
    display: none;
  }
  .mascotte-container {
    width: 100%;
  }
  .mascotte > #background {
    max-width: 500px;
    aspect-ratio: 1/1;
  }
  .mascotte > .choice {
    height: auto;
    max-width: 300px;
  }
  .mascotte > .descend {
    padding-top: 16vh;
  }
  #btnQRcode {
    display: none;
  }

  #captureButton {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .mascotte > .descend {
    padding-top: 30%;
  }
  .grille {
    grid-template-columns: 1fr 1fr;
  }
}
