.index{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.logo{
    display: block;
    position: absolute;
    margin: auto;
    top: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 0px  rgba(0, 0, 0, 0.20);;
}

@media screen and (max-width: 824px) {
    .logo{
        width: 80px;
        height: 80px;
    }
    
}

.wrapper{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 50px;
    font-weight: 900;
    color: #000;
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
@media screen and (max-width: 1098px) {
    h1{
        font-size: 40px;
    }
    p{
        font-size: 18px;
    }
}
@media screen and (max-width: 824px) {
    h1{
        font-size: 30px;
    }
    p{
        font-size: 16px;
    }
    .blur{
        padding: 8px;
        min-width: 380px;
    }
}
@media screen and (max-width: 600px) {
    h1{
        max-width: 300px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    p{
        max-width: 300px;
        font-size: 14px;
    }
    .blur{
        padding: 8px;
        min-width: 300px;
    }
}
@media screen and (min-width: 600px) {
    h1{
        max-width: 500px;
    }
    p{
        max-width: 500px;
    }
    .blur{
        padding: 20px;
        max-width: 700px;
        min-width: 500px;
    }
}

p{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

button{
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

img{
    display: none;
}

.blur{
    position: absolute;
    width: 50%;
    height: 50vh;
    background-color: #fff;
    box-shadow: 0px 0px 100px 0px  rgba(0, 0, 0, 0.20);;
    z-index: 1;
    border-radius: 50px;
    padding: 20px;
}